div.app {
  margin: 0 auto;
  margin-top: 3rem;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 1px 1px 4px -2px;
}

button.calculate-btn {
  background: #006875;
}

button.calculate-btn:disabled {
  background: gray;
  cursor: not-allowed;
}
